<countries>
  <country>
    <name>Andorra</name>
    <latitude>42.5</latitude>
    <longitude>1.5</longitude>
  </country>
  <country>
    <name>United Arab Emirates</name>
    <latitude>24</latitude>
    <longitude>54</longitude>
  </country>
  <country>
    <name>Afghanistan</name>
    <latitude>33</latitude>
    <longitude>65</longitude>
  </country>
  <country>
    <name>Antigua and Barbuda</name>
    <latitude>17.05</latitude>
    <longitude>-61.8</longitude>
  </country>
  <country>
    <name>Anguilla</name>
    <latitude>18.25</latitude>
    <longitude>-63.17</longitude>
  </country>
  <country>
    <name>Albania</name>
    <latitude>41</latitude>
    <longitude>20</longitude>
  </country>
  <country>
    <name>Armenia</name>
    <latitude>40</latitude>
    <longitude>45</longitude>
  </country>
  <country>
    <name>Netherlands Antilles</name>
    <latitude>12.25</latitude>
    <longitude>-68.75</longitude>
  </country>
  <country>
    <name>Angola</name>
    <latitude>-12.5</latitude>
    <longitude>18.5</longitude>
  </country>
  <country>
    <name>Asia/Pacific Region</name>
    <latitude>35</latitude>
    <longitude>105</longitude>
  </country>
  <country>
    <name>Antarctica</name>
    <latitude>-90</latitude>
    <longitude>0</longitude>
  </country>
  <country>
    <name>Argentina</name>
    <latitude>-34</latitude>
    <longitude>-64</longitude>
  </country>
  <country>
    <name>American Samoa</name>
    <latitude>-14.33</latitude>
    <longitude>-170</longitude>
  </country>
  <country>
    <name>Austria</name>
    <latitude>47.33</latitude>
    <longitude>13.33</longitude>
  </country>
  <country>
    <name>Australia</name>
    <latitude>-27</latitude>
    <longitude>133</longitude>
  </country>
  <country>
    <name>Aruba</name>
    <latitude>12.5</latitude>
    <longitude>-69.97</longitude>
  </country>
  <country>
    <name>Azerbaijan</name>
    <latitude>40.5</latitude>
    <longitude>47.5</longitude>
  </country>
  <country>
    <name>Bosnia and Herzegovina</name>
    <latitude>44</latitude>
    <longitude>18</longitude>
  </country>
  <country>
    <name>Barbados</name>
    <latitude>13.17</latitude>
    <longitude>-59.53</longitude>
  </country>
  <country>
    <name>Bangladesh</name>
    <latitude>24</latitude>
    <longitude>90</longitude>
  </country>
  <country>
    <name>Belgium</name>
    <latitude>50.83</latitude>
    <longitude>4</longitude>
  </country>
  <country>
    <name>Burkina Faso</name>
    <latitude>13</latitude>
    <longitude>-2</longitude>
  </country>
  <country>
    <name>Bulgaria</name>
    <latitude>43</latitude>
    <longitude>25</longitude>
  </country>
  <country>
    <name>Bahrain</name>
    <latitude>26</latitude>
    <longitude>50.55</longitude>
  </country>
  <country>
    <name>Burundi</name>
    <latitude>-3.5</latitude>
    <longitude>30</longitude>
  </country>
  <country>
    <name>Benin</name>
    <latitude>9.5</latitude>
    <longitude>2.25</longitude>
  </country>
  <country>
    <name>Bermuda</name>
    <latitude>32.33</latitude>
    <longitude>-64.75</longitude>
  </country>
  <country>
    <name>Brunei Darussalam</name>
    <latitude>4.5</latitude>
    <longitude>114.67</longitude>
  </country>
  <country>
    <name>Brunei</name>
    <latitude>4.5</latitude>
    <longitude>114.67</longitude>
  </country>
  <country>
    <name>Bolivia</name>
    <latitude>-17</latitude>
    <longitude>-65</longitude>
  </country>
  <country>
    <name>Brazil</name>
    <latitude>-10</latitude>
    <longitude>-55</longitude>
  </country>
  <country>
    <name>Bahamas</name>
    <latitude>24.25</latitude>
    <longitude>-76</longitude>
  </country>
  <country>
    <name>Bhutan</name>
    <latitude>27.5</latitude>
    <longitude>90.5</longitude>
  </country>
  <country>
    <name>Bouvet Island</name>
    <latitude>-54.43</latitude>
    <longitude>3.4</longitude>
  </country>
  <country>
    <name>Botswana</name>
    <latitude>-22</latitude>
    <longitude>24</longitude>
  </country>
  <country>
    <name>Belarus</name>
    <latitude>53</latitude>
    <longitude>28</longitude>
  </country>
  <country>
    <name>Belize</name>
    <latitude>17.25</latitude>
    <longitude>-88.75</longitude>
  </country>
  <country>
    <name>Canada</name>
    <latitude>60</latitude>
    <longitude>-95</longitude>
  </country>
  <country>
    <name>Cocos (Keeling) Islands</name>
    <latitude>-12.5</latitude>
    <longitude>96.83</longitude>
  </country>
  <country>
    <name>Congo [Republic]</name>
    <latitude>0</latitude>
    <longitude>25</longitude>
  </country>
  <country>
    <name>Congo [DRC]</name>
    <latitude>0</latitude>
    <longitude>25</longitude>
  </country>
  <country>
    <name>Guernsey</name>
    <latitude>49.27</latitude>
    <longitude>-2.4</longitude>
  </country>
  <country>
    <name>Central African Republic</name>
    <latitude>7</latitude>
    <longitude>21</longitude>
  </country>
  <country>
    <name>Congo</name>
    <latitude>-1</latitude>
    <longitude>15</longitude>
  </country>
  <country>
    <name>Switzerland</name>
    <latitude>47</latitude>
    <longitude>8</longitude>
  </country>
  <country>
    <name>Cote d'Ivoire</name>
    <latitude>8</latitude>
    <longitude>-5</longitude>
  </country>
  <country>
    <name>Côte d’Ivoire</name>
    <latitude>8</latitude>
    <longitude>-5</longitude>
  </country>
  <country>
    <name>Cook Islands</name>
    <latitude>-21.23</latitude>
    <longitude>-159.77</longitude>
  </country>
  <country>
    <name>Chile</name>
    <latitude>-30</latitude>
    <longitude>-71</longitude>
  </country>
  <country>
    <name>Cameroon</name>
    <latitude>6</latitude>
    <longitude>12</longitude>
  </country>
  <country>
    <name>China</name>
    <latitude>35</latitude>
    <longitude>105</longitude>
  </country>
  <country>
    <name>Colombia</name>
    <latitude>4</latitude>
    <longitude>-72</longitude>
  </country>
  <country>
    <name>Costa Rica</name>
    <latitude>10</latitude>
    <longitude>-84</longitude>
  </country>
  <country>
    <name>Cuba</name>
    <latitude>21.5</latitude>
    <longitude>-80</longitude>
  </country>
  <country>
    <name>Cape Verde</name>
    <latitude>16</latitude>
    <longitude>-24</longitude>
  </country>
  <country>
    <name>Christmas Island</name>
    <latitude>-10.5</latitude>
    <longitude>105.67</longitude>
  </country>
  <country>
    <name>Cyprus</name>
    <latitude>35</latitude>
    <longitude>33</longitude>
  </country>
  <country>
    <name>Czech Republic</name>
    <latitude>49.75</latitude>
    <longitude>15.5</longitude>
  </country>
  <country>
    <name>Germany</name>
    <latitude>51</latitude>
    <longitude>9</longitude>
  </country>
  <country>
    <name>Djibouti</name>
    <latitude>11.5</latitude>
    <longitude>43</longitude>
  </country>
  <country>
    <name>Denmark</name>
    <latitude>56</latitude>
    <longitude>10</longitude>
  </country>
  <country>
    <name>Dominica</name>
    <latitude>15.42</latitude>
    <longitude>-61.33</longitude>
  </country>
  <country>
    <name>Dominican Republic</name>
    <latitude>19</latitude>
    <longitude>-70.67</longitude>
  </country>
  <country>
    <name>Algeria</name>
    <latitude>28</latitude>
    <longitude>3</longitude>
  </country>
  <country>
    <name>Ecuador</name>
    <latitude>-2</latitude>
    <longitude>-77.5</longitude>
  </country>
  <country>
    <name>Estonia</name>
    <latitude>59</latitude>
    <longitude>26</longitude>
  </country>
  <country>
    <name>Egypt</name>
    <latitude>27</latitude>
    <longitude>30</longitude>
  </country>
  <country>
    <name>Western Sahara</name>
    <latitude>24.5</latitude>
    <longitude>-13</longitude>
  </country>
  <country>
    <name>Eritrea</name>
    <latitude>15</latitude>
    <longitude>39</longitude>
  </country>
  <country>
    <name>Spain</name>
    <latitude>40</latitude>
    <longitude>-4</longitude>
  </country>
  <country>
    <name>Ethiopia</name>
    <latitude>8</latitude>
    <longitude>38</longitude>
  </country>
  <country>
    <name>Europe</name>
    <latitude>47</latitude>
    <longitude>8</longitude>
  </country>
  <country>
    <name>Finland</name>
    <latitude>64</latitude>
    <longitude>26</longitude>
  </country>
  <country>
    <name>Fiji</name>
    <latitude>-18</latitude>
    <longitude>175</longitude>
  </country>
  <country>
    <name>Falkland Islands (Malvinas)</name>
    <latitude>-51.75</latitude>
    <longitude>-59</longitude>
  </country>
  <country>
    <name>Micronesia, Federated States of</name>
    <latitude>6.92</latitude>
    <longitude>158.25</longitude>
  </country>
  <country>
    <name>Faroe Islands</name>
    <latitude>62</latitude>
    <longitude>-7</longitude>
  </country>
  <country>
    <name>France</name>
    <latitude>46</latitude>
    <longitude>2</longitude>
  </country>
  <country>
    <name>Gabon</name>
    <latitude>-1</latitude>
    <longitude>11.75</longitude>
  </country>
  <country>
    <name>United Kingdom</name>
    <latitude>54</latitude>
    <longitude>-2</longitude>
  </country>
  <country>
    <name>Grenada</name>
    <latitude>12.12</latitude>
    <longitude>-61.67</longitude>
  </country>
  <country>
    <name>Georgia</name>
    <latitude>42</latitude>
    <longitude>43.5</longitude>
  </country>
  <country>
    <name>French Guiana</name>
    <latitude>4</latitude>
    <longitude>-53</longitude>
  </country>
  <country>
    <name>Ghana</name>
    <latitude>8</latitude>
    <longitude>-2</longitude>
  </country>
  <country>
    <name>Gibraltar</name>
    <latitude>36.18</latitude>
    <longitude>-5.37</longitude>
  </country>
  <country>
    <name>Greenland</name>
    <latitude>72</latitude>
    <longitude>-40</longitude>
  </country>
  <country>
    <name>Gambia</name>
    <latitude>13.47</latitude>
    <longitude>-16.57</longitude>
  </country>
  <country>
    <name>Guinea</name>
    <latitude>11</latitude>
    <longitude>-10</longitude>
  </country>
  <country>
    <name>Guadeloupe</name>
    <latitude>16.25</latitude>
    <longitude>-61.58</longitude>
  </country>
  <country>
    <name>Equatorial Guinea</name>
    <latitude>2</latitude>
    <longitude>10</longitude>
  </country>
  <country>
    <name>Greece</name>
    <latitude>39</latitude>
    <longitude>22</longitude>
  </country>
  <country>
    <name>South Georgia and the South Sandwich Islands</name>
    <latitude>-54.5</latitude>
    <longitude>-37</longitude>
  </country>
  <country>
    <name>Guatemala</name>
    <latitude>15.5</latitude>
    <longitude>-90.25</longitude>
  </country>
  <country>
    <name>Guam</name>
    <latitude>13.47</latitude>
    <longitude>144.78</longitude>
  </country>
  <country>
    <name>Guinea-Bissau</name>
    <latitude>12</latitude>
    <longitude>-15</longitude>
  </country>
  <country>
    <name>Guyana</name>
    <latitude>5</latitude>
    <longitude>-59</longitude>
  </country>
  <country>
    <name>Hong Kong</name>
    <latitude>22.25</latitude>
    <longitude>114.17</longitude>
  </country>
  <country>
    <name>Heard Island and McDonald Islands</name>
    <latitude>-53.1</latitude>
    <longitude>72.52</longitude>
  </country>
  <country>
    <name>Honduras</name>
    <latitude>15</latitude>
    <longitude>-86.5</longitude>
  </country>
  <country>
    <name>Croatia</name>
    <latitude>45.17</latitude>
    <longitude>15.5</longitude>
  </country>
  <country>
    <name>Haiti</name>
    <latitude>19</latitude>
    <longitude>-72.42</longitude>
  </country>
  <country>
    <name>Hungary</name>
    <latitude>47</latitude>
    <longitude>20</longitude>
  </country>
  <country>
    <name>Indonesia</name>
    <latitude>-5</latitude>
    <longitude>120</longitude>
  </country>
  <country>
    <name>Ireland</name>
    <latitude>53</latitude>
    <longitude>-8</longitude>
  </country>
  <country>
    <name>Israel</name>
    <latitude>31.5</latitude>
    <longitude>34.75</longitude>
  </country>
  <country>
    <name>India</name>
    <latitude>20</latitude>
    <longitude>77</longitude>
  </country>
  <country>
    <name>British Indian Ocean Territory</name>
    <latitude>-6</latitude>
    <longitude>71.5</longitude>
  </country>
  <country>
    <name>Iraq</name>
    <latitude>33</latitude>
    <longitude>44</longitude>
  </country>
  <country>
    <name>Iran, Islamic Republic of</name>
    <latitude>32</latitude>
    <longitude>53</longitude>
  </country>
  <country>
    <name>Iran</name>
    <latitude>32</latitude>
    <longitude>53</longitude>
  </country>
  <country>
    <name>Iceland</name>
    <latitude>65</latitude>
    <longitude>-18</longitude>
  </country>
  <country>
    <name>Italy</name>
    <latitude>42.83</latitude>
    <longitude>12.83</longitude>
  </country>
  <country>
    <name>Jamaica</name>
    <latitude>18.25</latitude>
    <longitude>-77.5</longitude>
  </country>
  <country>
    <name>Jordan</name>
    <latitude>31</latitude>
    <longitude>36</longitude>
  </country>
  <country>
    <name>Japan</name>
    <latitude>36</latitude>
    <longitude>138</longitude>
  </country>
  <country>
    <name>Kenya</name>
    <latitude>1</latitude>
    <longitude>38</longitude>
  </country>
  <country>
    <name>Kyrgyzstan</name>
    <latitude>41</latitude>
    <longitude>75</longitude>
  </country>
  <country>
    <name>Cambodia</name>
    <latitude>13</latitude>
    <longitude>105</longitude>
  </country>
  <country>
    <name>Kiribati</name>
    <latitude>1.42</latitude>
    <longitude>173</longitude>
  </country>
  <country>
    <name>Comoros</name>
    <latitude>-12.17</latitude>
    <longitude>44.25</longitude>
  </country>
  <country>
    <name>Saint Kitts and Nevis</name>
    <latitude>17.33</latitude>
    <longitude>-62.75</longitude>
  </country>
  <country>
    <name>Korea, Democratic People's Republic of</name>
    <latitude>40</latitude>
    <longitude>127</longitude>
  </country>
  <country>
    <name>Korea, Republic of</name>
    <latitude>37</latitude>
    <longitude>127.5</longitude>
  </country>
  <country>
    <name>Kuwait</name>
    <latitude>29.34</latitude>
    <longitude>47.66</longitude>
  </country>
  <country>
    <name>Cayman Islands</name>
    <latitude>19.5</latitude>
    <longitude>-80.5</longitude>
  </country>
  <country>
    <name>Kazakhstan</name>
    <latitude>48</latitude>
    <longitude>68</longitude>
  </country>
  <country>
    <name>Isle of Man</name>
    <latitude>54.14</latitude>
    <longitude>-4.3</longitude>
  </country>
  <country>
    <name>Lao People's Democratic Republic</name>
    <latitude>18</latitude>
    <longitude>105</longitude>
  </country>
  <country>
    <name>Laos</name>
    <latitude>18</latitude>
    <longitude>105</longitude>
  </country>
  <country>
    <name>Lebanon</name>
    <latitude>33.83</latitude>
    <longitude>35.83</longitude>
  </country>  
  <country>
    <name>Jersey</name>
    <latitude>49.12</latitude>
    <longitude>-2.08</longitude>
  </country>
  <country>
    <name>Saint Lucia</name>
    <latitude>13.88</latitude>
    <longitude>-61.13</longitude>
  </country>
  <country>
    <name>Liechtenstein</name>
    <latitude>47.17</latitude>
    <longitude>9.53</longitude>
  </country>
  <country>
    <name>Sri Lanka</name>
    <latitude>7</latitude>
    <longitude>81</longitude>
  </country>
  <country>
    <name>Liberia</name>
    <latitude>6.5</latitude>
    <longitude>-9.5</longitude>
  </country>
  <country>
    <name>Lesotho</name>
    <latitude>-29.5</latitude>
    <longitude>28.5</longitude>
  </country>
  <country>
    <name>Lithuania</name>
    <latitude>56</latitude>
    <longitude>24</longitude>
  </country>
  <country>
    <name>Luxembourg</name>
    <latitude>49.75</latitude>
    <longitude>6.17</longitude>
  </country>
  <country>
    <name>Latvia</name>
    <latitude>57</latitude>
    <longitude>25</longitude>
  </country>
  <country>
    <name>Libyan Arab Jamahiriya</name>
    <latitude>25</latitude>
    <longitude>17</longitude>
  </country>
  <country>
    <name>Libya</name>
    <latitude>25</latitude>
    <longitude>17</longitude>
  </country>
  <country>
    <name>Morocco</name>
    <latitude>32</latitude>
    <longitude>-5</longitude>
  </country>
  <country>
    <name>Monaco</name>
    <latitude>43.73</latitude>
    <longitude>7.4</longitude>
  </country>
  <country>
    <name>Moldova, Republic of</name>
    <latitude>47</latitude>
    <longitude>29</longitude>
  </country>
  <country>
    <name>Moldova</name>
    <latitude>47</latitude>
    <longitude>29</longitude>
  </country>
  <country>
    <name>Montenegro</name>
    <latitude>42</latitude>
    <longitude>19</longitude>
  </country>
  <country>
    <name>Madagascar</name>
    <latitude>-20</latitude>
    <longitude>47</longitude>
  </country>
  <country>
    <name>Marshall Islands</name>
    <latitude>9</latitude>
    <longitude>168</longitude>
  </country>
  <country>
    <name>Macedonia</name>
    <latitude>41.83</latitude>
    <longitude>22</longitude>
  </country>
  <country>
    <name>Macedonia [FYROM]</name>
    <latitude>41.83</latitude>
    <longitude>22</longitude>
  </country>
  <country>
    <name>Mali</name>
    <latitude>17</latitude>
    <longitude>-4</longitude>
  </country>
  <country>
    <name>Myanmar</name>
    <latitude>22</latitude>
    <longitude>98</longitude>
  </country>
  <country>
    <name>Myanmar [Burma]</name>
    <latitude>22</latitude>
    <longitude>98</longitude>
  </country>
  <country>
    <name>Mongolia</name>
    <latitude>46</latitude>
    <longitude>105</longitude>
  </country>
  <country>
    <name>Macao</name>
    <latitude>22.17</latitude>
    <longitude>113.55</longitude>
  </country>
  <country>
    <name>Macau</name>
    <latitude>22.17</latitude>
    <longitude>113.55</longitude>
  </country>
  <country>
    <name>Northern Mariana Islands</name>
    <latitude>15.2</latitude>
    <longitude>145.75</longitude>
  </country>
  <country>
    <name>Martinique</name>
    <latitude>14.67</latitude>
    <longitude>-61</longitude>
  </country>
  <country>
    <name>Mauritania</name>
    <latitude>20</latitude>
    <longitude>-12</longitude>
  </country>
  <country>
    <name>Montserrat</name>
    <latitude>16.75</latitude>
    <longitude>-62.2</longitude>
  </country>
  <country>
    <name>Malta</name>
    <latitude>35.83</latitude>
    <longitude>14.58</longitude>
  </country>
  <country>
    <name>Mauritius</name>
    <latitude>-20.28</latitude>
    <longitude>57.55</longitude>
  </country>
  <country>
    <name>Maldives</name>
    <latitude>3.25</latitude>
    <longitude>73</longitude>
  </country>
  <country>
    <name>Malawi</name>
    <latitude>-13.5</latitude>
    <longitude>34</longitude>
  </country>
  <country>
    <name>Mexico</name>
    <latitude>23</latitude>
    <longitude>-102</longitude>
  </country>
  <country>
    <name>Malaysia</name>
    <latitude>2.5</latitude>
    <longitude>112.5</longitude>
  </country>
  <country>
    <name>Mozambique</name>
    <latitude>-18.25</latitude>
    <longitude>35</longitude>
  </country>
  <country>
    <name>Namibia</name>
    <latitude>-22</latitude>
    <longitude>17</longitude>
  </country>
  <country>
    <name>New Caledonia</name>
    <latitude>-21.5</latitude>
    <longitude>165.5</longitude>
  </country>
  <country>
    <name>Niger</name>
    <latitude>16</latitude>
    <longitude>8</longitude>
  </country>
  <country>
    <name>Norfolk Island</name>
    <latitude>-29.03</latitude>
    <longitude>167.95</longitude>
  </country>
  <country>
    <name>Nigeria</name>
    <latitude>10</latitude>
    <longitude>8</longitude>
  </country>
  <country>
    <name>Nicaragua</name>
    <latitude>13</latitude>
    <longitude>-85</longitude>
  </country>
  <country>
    <name>Netherlands</name>
    <latitude>52.5</latitude>
    <longitude>5.75</longitude>
  </country>
  <country>
    <name>Norway</name>
    <latitude>62</latitude>
    <longitude>10</longitude>
  </country>
  <country>
    <name>Nepal</name>
    <latitude>28</latitude>
    <longitude>84</longitude>
  </country>
  <country>
    <name>Nauru</name>
    <latitude>-0.53</latitude>
    <longitude>166.92</longitude>
  </country>
  <country>
    <name>Niue</name>
    <latitude>-19.03</latitude>
    <longitude>-169.87</longitude>
  </country>
  <country>
    <name>New Zealand</name>
    <latitude>-41</latitude>
    <longitude>174</longitude>
  </country>
  <country>
    <name>Oman</name>
    <latitude>21</latitude>
    <longitude>57</longitude>
  </country>
  <country>
    <name>Panama</name>
    <latitude>9</latitude>
    <longitude>-80</longitude>
  </country>
  <country>
    <name>Peru</name>
    <latitude>-10</latitude>
    <longitude>-76</longitude>
  </country>
  <country>
    <name>French Polynesia</name>
    <latitude>-15</latitude>
    <longitude>-140</longitude>
  </country>
  <country>
    <name>Papua New Guinea</name>
    <latitude>-6</latitude>
    <longitude>147</longitude>
  </country>
  <country>
    <name>Philippines</name>
    <latitude>13</latitude>
    <longitude>122</longitude>
  </country>
  <country>
    <name>Pakistan</name>
    <latitude>30</latitude>
    <longitude>70</longitude>
  </country>
  <country>
    <name>Poland</name>
    <latitude>52</latitude>
    <longitude>20</longitude>
  </country>
  <country>
    <name>Saint Pierre and Miquelon</name>
    <latitude>46.83</latitude>
    <longitude>-56.33</longitude>
  </country>
  <country>
    <name>Puerto Rico</name>
    <latitude>18.25</latitude>
    <longitude>-66.5</longitude>
  </country>
  <country>
    <name>Palestinian Territory</name>
    <latitude>32</latitude>
    <longitude>35.25</longitude>
  </country>
  <country>
    <name>Palestinian Territories</name>
    <latitude>32</latitude>
    <longitude>35.25</longitude>
  </country>
  <country>
    <name>Portugal</name>
    <latitude>39.5</latitude>
    <longitude>-8</longitude>
  </country>
  <country>
    <name>Palau</name>
    <latitude>7.5</latitude>
    <longitude>134.5</longitude>
  </country>
  <country>
    <name>Paraguay</name>
    <latitude>-23</latitude>
    <longitude>-58</longitude>
  </country>
  <country>
    <name>Qatar</name>
    <latitude>25.5</latitude>
    <longitude>51.25</longitude>
  </country>
  <country>
    <name>Reunion</name>
    <latitude>-21.1</latitude>
    <longitude>55.6</longitude>
  </country>
  <country>
    <name>Réunion</name>
    <latitude>-21.1</latitude>
    <longitude>55.6</longitude>
  </country>
  <country>
    <name>Romania</name>
    <latitude>46</latitude>
    <longitude>25</longitude>
  </country>
  <country>
    <name>Serbia</name>
    <latitude>44</latitude>
    <longitude>21</longitude>
  </country>
  <country>
    <name>Russian Federation</name>
    <latitude>60</latitude>
    <longitude>100</longitude>
  </country>
  <country>
    <name>Russia</name>
    <latitude>60</latitude>
    <longitude>100</longitude>
  </country>
  <country>
    <name>Rwanda</name>
    <latitude>-2</latitude>
    <longitude>30</longitude>
  </country>
  <country>
    <name>Saudi Arabia</name>
    <latitude>25</latitude>
    <longitude>45</longitude>
  </country>
  <country>
    <name>Solomon Islands</name>
    <latitude>-8</latitude>
    <longitude>159</longitude>
  </country>
  <country>
    <name>Seychelles</name>
    <latitude>-4.58</latitude>
    <longitude>55.67</longitude>
  </country>
  <country>
    <name>Sudan</name>
    <latitude>15</latitude>
    <longitude>30</longitude>
  </country>
  <country>
    <name>Sweden</name>
    <latitude>62</latitude>
    <longitude>15</longitude>
  </country>
  <country>
    <name>Singapore</name>
    <latitude>1.37</latitude>
    <longitude>103.8</longitude>
  </country>
  <country>
    <name>Saint Helena</name>
    <latitude>-15.93</latitude>
    <longitude>-5.7</longitude>
  </country>
  <country>
    <name>Slovenia</name>
    <latitude>46</latitude>
    <longitude>15</longitude>
  </country>
  <country>
    <name>Svalbard and Jan Mayen</name>
    <latitude>78</latitude>
    <longitude>20</longitude>
  </country>
  <country>
    <name>Slovakia</name>
    <latitude>48.67</latitude>
    <longitude>19.5</longitude>
  </country>
  <country>
    <name>Sierra Leone</name>
    <latitude>8.5</latitude>
    <longitude>-11.5</longitude>
  </country>
  <country>
    <name>San Marino</name>
    <latitude>43.77</latitude>
    <longitude>12.42</longitude>
  </country>
  <country>
    <name>Senegal</name>
    <latitude>14</latitude>
    <longitude>-14</longitude>
  </country>
  <country>
    <name>Somalia</name>
    <latitude>10</latitude>
    <longitude>49</longitude>
  </country>
  <country>
    <name>Suriname</name>
    <latitude>4</latitude>
    <longitude>-56</longitude>
  </country>
  <country>
    <name>Sao Tome and Principe</name>
    <latitude>1</latitude>
    <longitude>7</longitude>
  </country>
  <country>
    <name>São Tomé and Príncipe</name>
    <latitude>1</latitude>
    <longitude>7</longitude>
  </country>
  <country>
    <name>El Salvador</name>
    <latitude>13.83</latitude>
    <longitude>-88.92</longitude>
  </country>
  <country>
    <name>Åland Islands</name>
    <latitude>60.1</latitude>
    <longitude>19.5</longitude>
  </country>
  <country>
    <name>Syrian Arab Republic</name>
    <latitude>35</latitude>
    <longitude>38</longitude>
  </country>
  <country>
    <name>Syria</name>
    <latitude>35</latitude>
    <longitude>38</longitude>
  </country>
  <country>
    <name>Swaziland</name>
    <latitude>-26.5</latitude>
    <longitude>31.5</longitude>
  </country>
  <country>
    <name>Turks and Caicos Islands</name>
    <latitude>21.75</latitude>
    <longitude>-71.58</longitude>
  </country>
  <country>
    <name>Chad</name>
    <latitude>15</latitude>
    <longitude>19</longitude>
  </country>
  <country>
    <name>French Southern Territories</name>
    <latitude>-43</latitude>
    <longitude>67</longitude>
  </country>
  <country>
    <name>Togo</name>
    <latitude>8</latitude>
    <longitude>1.17</longitude>
  </country>
  <country>
    <name>Thailand</name>
    <latitude>15</latitude>
    <longitude>100</longitude>
  </country>
  <country>
    <name>Tajikistan</name>
    <latitude>39</latitude>
    <longitude>71</longitude>
  </country>
  <country>
    <name>Tokelau</name>
    <latitude>-9</latitude>
    <longitude>-172</longitude>
  </country>
  <country>
    <name>Turkmenistan</name>
    <latitude>40</latitude>
    <longitude>60</longitude>
  </country>
  <country>
    <name>Tunisia</name>
    <latitude>34</latitude>
    <longitude>9</longitude>
  </country>
  <country>
    <name>Tonga</name>
    <latitude>-20</latitude>
    <longitude>-175</longitude>
  </country>
  <country>
    <name>Turkey</name>
    <latitude>39</latitude>
    <longitude>35</longitude>
  </country>
  <country>
    <name>Trinidad and Tobago</name>
    <latitude>11</latitude>
    <longitude>-61</longitude>
  </country>
  <country>
    <name>Tuvalu</name>
    <latitude>-8</latitude>
    <longitude>178</longitude>
  </country>
  <country>
    <name>Taiwan</name>
    <latitude>23.5</latitude>
    <longitude>121</longitude>
  </country>
  <country>
    <name>Tanzania, United Republic of</name>
    <latitude>-6</latitude>
    <longitude>35</longitude>
  </country>
  <country>
    <name>Tanzania</name>
    <latitude>-6</latitude>
    <longitude>35</longitude>
  </country>
  <country>
    <name>Ukraine</name>
    <latitude>49</latitude>
    <longitude>32</longitude>
  </country>
  <country>
    <name>Uganda</name>
    <latitude>1</latitude>
    <longitude>32</longitude>
  </country>
  <country>
    <name>United States Minor Outlying Islands</name>
    <latitude>19.28</latitude>
    <longitude>166.6</longitude>
  </country>
  <country>
    <name>United States</name>
    <latitude>38</latitude>
    <longitude>-97</longitude>
  </country>
  <country>
    <name>Uruguay</name>
    <latitude>-33</latitude>
    <longitude>-56</longitude>
  </country>
  <country>
    <name>Uzbekistan</name>
    <latitude>41</latitude>
    <longitude>64</longitude>
  </country>
  <country>
    <name>Holy See (Vatican City State)</name>
    <latitude>41.9</latitude>
    <longitude>12.45</longitude>
  </country>
  <country>
    <name>Saint Vincent and the Grenadines</name>
    <latitude>13.25</latitude>
    <longitude>-61.2</longitude>
  </country>
  <country>
    <name>Venezuela</name>
    <latitude>8</latitude>
    <longitude>-66</longitude>
  </country>
  <country>
    <name>British Virgin Islands</name>
    <latitude>18.5</latitude>
    <longitude>-64.5</longitude>
  </country>
  <country>
    <name>Virgin Islands, U.S.</name>
    <latitude>18.33</latitude>
    <longitude>-64.83</longitude>
  </country>
  <country>
    <name>U.S. Virgin Islands</name>
    <latitude>18.33</latitude>
    <longitude>-64.83</longitude>
  </country>
  <country>
    <name>Vietnam</name>
    <latitude>16</latitude>
    <longitude>106</longitude>
  </country>
  <country>
    <name>Vanuatu</name>
    <latitude>-16</latitude>
    <longitude>167</longitude>
  </country>
  <country>
    <name>Wallis and Futuna</name>
    <latitude>-13.3</latitude>
    <longitude>-176.2</longitude>
  </country>
  <country>
    <name>Samoa</name>
    <latitude>-13.58</latitude>
    <longitude>-172.33</longitude>
  </country>
  <country>
    <name>Yemen</name>
    <latitude>15</latitude>
    <longitude>48</longitude>
  </country>
  <country>
    <name>Mayotte</name>
    <latitude>-12.83</latitude>
    <longitude>45.17</longitude>
  </country>
  <country>
    <name>South Africa</name>
    <latitude>-29</latitude>
    <longitude>24</longitude>
  </country>
  <country>
    <name>Zambia</name>
    <latitude>-15</latitude>
    <longitude>30</longitude>
  </country>
  <country>
    <name>Zimbabwe</name>
    <latitude>-20</latitude>
    <longitude>30</longitude>
  </country>  
  <country>
    <name>South Korea</name>
    <latitude>37</latitude>
    <longitude>127.3</longitude>
  </country>
</countries>
