<?xml version="1.0" encoding="utf-8"?>
<dataConfig initialized="True">
	<openAccessAssemblies />
	<connectionStrings>
		<add name="Sitefinity" connectionString="data source=(local);Integrated Security=SSPI;initial catalog=MedThinkSitefinity" />
	</connectionStrings>
	<resolvers>
		<add name="URL" description="UrlResolverDescription" resourceClassId="DataResources" type="Telerik.Sitefinity.Web.DataResolving.UrlResolver, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
		<add name="Author" description="AuthorResolverDescription" resourceClassId="DataResources" type="Telerik.Sitefinity.Web.DataResolving.AuthorResolver, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
	</resolvers>
	<urlEvaluators>
		<add name="Date" description="DateEvaluatorDescription" resourceClassId="DataResources" type="Telerik.Sitefinity.Web.UrlEvaluation.DateEvaluator, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
		<add name="PageNumber" description="PageNumberEvaluatorDescription" resourceClassId="DataResources" type="Telerik.Sitefinity.Web.UrlEvaluation.PageNumberEvaluator, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
		<add name="Author" description="AuthorEvaluatorDescription" resourceClassId="DataResources" type="Telerik.Sitefinity.Web.UrlEvaluation.AuthorEvaluator, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
		<add name="Taxonomy" description="TaxonomyEvaluatorDescription" resourceClassId="DataResources" type="Telerik.Sitefinity.Web.UrlEvaluation.TaxonomyEvaluator, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
		<add name="Forms" description="FormsEvaluatorDescription" resourceClassId="DataResources" type="Telerik.Sitefinity.Web.UrlEvaluation.FormsEvaluator, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
	</urlEvaluators>
</dataConfig>