<?xml version="1.0" encoding="utf-8"?>
<securityConfig validationKey="D825FFD40080F63D44F83AA4D11E660D5588CD5332E2853F5C326F373B967D5C160AC614E15A63B75C6D7FDD350D8B529CB3A07C9BE9FFFA50D7F402DB6185F4" decryptionKey="6D98E412B81066C2C456260944D1D48CF50C774D3F04866857A6E21FF8819A21">
	<permissions>
		<permission name="General" title="GeneralPermissions" description="GeneralPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="View" title="View" description="ViewDescription" resourceClassId="SecurityResources" type="View" />
				<add name="Create" title="Create" description="CreateDescription" resourceClassId="SecurityResources" type="Create" />
				<add name="Modify" title="Modify" description="ModifyDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="Delete" title="Delete" description="DeleteDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeOwner" title="ChangeOwner" description="ChangeOwnerDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangePermissions" title="ChangePermissions" description="ChangePermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="Pages" title="PagePermissions" description="PagePermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="View" title="ViewPageActionName" description="ViewPageActionDescription" resourceClassId="SecurityResources" type="View" />
				<add name="CreateChildControls" title="CreateChildControlsActionName" description="CreateChildControlsActionDescription" resourceClassId="SecurityResources" />
				<add name="EditContent" title="EditContentActionName" description="EditContentActionDescription" resourceClassId="SecurityResources" />
				<add name="Create" title="CreatePageActionName" description="CreatePageActionDescription" resourceClassId="SecurityResources" type="Create" />
				<add name="Modify" title="ModifyPageActionName" description="ModifyPageActionDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="Delete" title="DeletePageActionName" description="DeletePageActionDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeOwner" title="ChangePageOwnerActionName" description="ChangePageOwnerActionDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangePermissions" title="ChangePagePermissionsActionName" description="ChangePagePermissionsActionDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="Blog" title="BlogPermissions" description="BlogPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="View" title="ViewBlog" description="ViewBlogDescription" resourceClassId="SecurityResources" type="View" />
				<add name="Create" title="CreateBlog" description="CreateBlogDescription" resourceClassId="SecurityResources" type="Create" />
				<add name="Delete" title="DeleteBlog" description="DeleteBlogDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeOwner" title="ChangeBlogOwner" description="ChangeBlogOwnerDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangePermissions" title="ChangeBlogPermissions" description="ChangeBlogPermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="BlogPost" title="BlogPostPermissions" description="BlogPostPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ViewBlogPost" title="ViewBlogPost" description="ViewBlogPostDescription" resourceClassId="SecurityResources" type="View" />
				<add name="ManageBlogPost" title="ManageBlogPost" description="ManageBlogPostDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="ChangeBlogPostOwner" title="ChangeBlogPostOwner" description="ChangeBlogPostOwnerDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangeBlogPostPermissions" title="ChangeBlogPostPermissions" description="ChangeBlogPostPermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="Image" title="ImagePermissions" description="ImagePermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ViewImage" title="ViewImage" description="ViewImageDescription" resourceClassId="SecurityResources" type="View" />
				<add name="ManageImage" title="ManageImage" description="ManageImageDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="ChangeImageOwner" title="ChangeImageOwner" description="ChangeImageOwnerDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangeImagePermissions" title="ChangeImagePermissions" description="ChangeImagePermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="Album" title="AlbumPermissions" description="AlbumPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ViewAlbum" title="ViewAlbum" description="ViewAlbumDescription" resourceClassId="SecurityResources" type="View" />
				<add name="CreateAlbum" title="CreateAlbum" description="CreateAlbumDescription" resourceClassId="SecurityResources" type="Create" />
				<add name="DeleteAlbum" title="DeleteAlbum" description="DeleteAlbumDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeAlbumOwner" title="ChangeAlbumOwner" description="ChangeAlbumOwnerDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangeAlbumPermissions" title="ChangeAlbumPermissions" description="ChangeAlbumPermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="Document" title="DocumentPermissions" description="DocumentPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ViewDocument" title="ViewDocument" description="ViewDocumentDescription" resourceClassId="SecurityResources" type="View" />
				<add name="ManageDocument" title="ManageDocument" description="ManageDocumentDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="ChangeDocumentOwner" title="ChangeDocumentOwner" description="ChangeDocumentOwnerDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangeDocumentPermissions" title="ChangeDocumentPermissions" description="ChangeDocumentPermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="DocumentLibrary" title="DocumentLibraryPermissions" description="DocumentLibraryPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ViewDocumentLibrary" title="ViewDocumentLibrary" description="ViewDocumentLibraryDescription" resourceClassId="SecurityResources" type="View" />
				<add name="CreateDocumentLibrary" title="CreateDocumentLibrary" description="CreateDocumentLibraryDescription" resourceClassId="SecurityResources" type="Create" />
				<add name="DeleteDocumentLibrary" title="DeleteDocumentLibrary" description="DeleteDocumentLibraryDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeDocumentLibraryOwner" title="ChangeDocumentLibraryOwner" description="ChangeDocumentLibraryOwnerDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangeDocumentLibraryPermissions" title="ChangeDocumentLibraryPermissions" description="ChangeDocumentLibraryPermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="Video" title="VideoPermissions" description="VideoPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ViewVideo" title="ViewVideo" description="ViewVideoDescription" resourceClassId="SecurityResources" type="View" />
				<add name="ManageVideo" title="ManageVideo" description="ManageVideoDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="ChangeVideoOwner" title="ChangeVideoOwner" description="ChangeVideoOwnerDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangeVideoPermissions" title="ChangeVideoPermissions" description="ChangeVideoPermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="VideoLibrary" title="VideoLibraryPermissions" description="VideoLibraryPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ViewVideoLibrary" title="ViewVideoLibrary" description="ViewVideoLibraryDescription" resourceClassId="SecurityResources" type="View" />
				<add name="CreateVideoLibrary" title="CreateVideoLibrary" description="CreateVideoLibraryDescription" resourceClassId="SecurityResources" type="Create" />
				<add name="DeleteVideoLibrary" title="DeleteVideoLibrary" description="DeleteVideoLibraryDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeVideoLibraryOwner" title="ChangeVideoLibraryOwner" description="ChangeVideoLibraryOwnerDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangeVideoLibraryPermissions" title="ChangeVideoLibraryPermissions" description="ChangeVideoLibraryPermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="Comments" title="CommentsPermissions" description="CommentsPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ViewComments" title="ViewCommentActionTitle" description="ViewCommentsActionDescription" resourceClassId="SecurityResources" type="View" />
				<add name="CreateComments" title="CreateCommentActionTitle" description="CreateCommentsActionDescription" resourceClassId="SecurityResources" type="Create" />
				<add name="ModifyComments" title="ModifyCommentActionTitle" description="ModifyCommentsActionDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="DeleteComments" title="DeleteCommentActionTitle" description="DeleteCommentsActionDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeCommentsOwner" title="ChangeCommentOwnerActionTitle" description="ChangeCommentOwnerActionDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangeCommentsPermissions" title="ChangeCommentPermissionsActionTitle" description="ChangeCommentPermissionsActionDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="Controls" title="ControlsPermissions" description="ControlsPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ViewControl" title="ViewControlActionName" description="ViewControlActionDescription" resourceClassId="SecurityResources" type="View" />
				<add name="MoveControl" title="MoveControlActionName" description="MoveControlActionDescription" resourceClassId="SecurityResources" />
				<add name="EditControlProperties" title="EditControlPropertiesActionName" description="EditControlPropertiesActionDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="DeleteControl" title="DeleteControlActionName" description="DeleteControlActionDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeControlOwner" title="ChangeControlOwnerActionName" description="ChangeControlOwnerActionDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangeControlPermissions" title="ChangeControlPermissionsActionName" description="ChangeControlPermissionsActionDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="LayoutElement" title="LayoutElementPermissionSetName" description="LayoutElementPermissionSetDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ViewLayout" title="ViewLayoutActionName" description="ViewLayoutActionDescription" resourceClassId="SecurityResources" type="View" />
				<add name="MoveLayout" title="MoveLayoutActionName" description="MoveLayoutActionDescription" resourceClassId="SecurityResources" />
				<add name="EditLayoutProperties" title="EditLayoutPropertiesActionName" description="EditControlPropertiesActionDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="DeleteLayout" title="DeleteLayoutActionName" description="DeleteLayoutActionDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeLayoutOwner" title="ChangeLayoutOwnerActionName" description="ChangeLayoutOwnerActionDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangeLayoutPermissions" title="ChangeLayoutPermissionsActionName" description="ChangeLayoutPermissionsActionDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
				<add name="DropOnLayout" title="DropOnLayoutActionName" description="DropOnLayoutActionDescription" resourceClassId="SecurityResources" />
			</actions>
		</permission>
		<permission name="PageTemplates" title="PageTemplatesPermissions" description="PageTemplatesPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="View" title="View" description="ViewDescription" resourceClassId="SecurityResources" type="View" />
				<add name="Create" title="Create" description="CreateDescription" resourceClassId="SecurityResources" type="Create" />
				<add name="Modify" title="Modify" description="ModifyDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="Delete" title="Delete" description="DeleteDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeOwner" title="ChangeOwner" description="ChangeOwnerDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangePermissions" title="ChangePermissions" description="ChangePermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="Backend" title="BackendPermissions" description="BackendPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ManageUsers" title="ManageUsers" description="ManageUsersDescription" resourceClassId="SecurityResources" />
				<add name="ManageRoles" title="ManageRoles" description="ManageRolesDescription" resourceClassId="SecurityResources" />
				<add name="ViewPermissions" title="ViewPermissions" description="ViewPermissionsDescription" resourceClassId="SecurityResources" />
				<add name="ChangePermissions" title="ChangePermissions" description="ChangePermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
				<add name="ViewConfigurations" title="ViewConfigurations" description="ViewConfigurationsDescription" resourceClassId="SecurityResources" />
				<add name="ChangeConfigurations" title="ChangeConfigurations" description="ChangeConfigurationsDescription" resourceClassId="SecurityResources" />
				<add name="ManageLabels" title="ManageLabels" description="ManageLabelsDescription" resourceClassId="SecurityResources" />
				<add name="ManageFiles" title="ManageFiles" description="ManageFilesDescription" resourceClassId="SecurityResources" />
				<add name="ManageLicenses" title="ManageLicenses" description="ManageLicensesDescription" resourceClassId="SecurityResources" />
			</actions>
		</permission>
		<permission name="Taxonomies" title="TaxonomyPermissions" description="TaxonomyPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="ViewTaxonomy" title="ViewTaxonomyActionName" description="ViewTaxonomyActionDescription" resourceClassId="SecurityResources" type="View" />
				<add name="CreateTaxonomy" title="CreateTaxonomyActionName" description="CreateTaxonomyActionDescription" resourceClassId="SecurityResources" type="Create" />
				<add name="ModifyTaxonomyAndSubTaxons" title="ModifyTaxonomyActionName" description="ModifyTaxonomyActionDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="DeleteTaxonomy" title="DeleteTaxonomyActionName" description="DeleteTaxonomyActionDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeTaxonomyOwner" title="ChangeTaxonomyOwnerActionName" description="ChangeTaxonomyOwnerActionDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangeTaxonomyPermissions" title="ChangeTaxonomyPermissionsActionName" description="ChangeTaxonomyPermissionsActionDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
		<permission name="Forms" title="FormsPermissions" description="FormsPermissionsDescription" resourceClassId="SecurityResources">
			<actions>
				<add name="View" title="View" description="ViewDescription" resourceClassId="SecurityResources" type="View" />
				<add name="Create" title="Create" description="CreateDescription" resourceClassId="SecurityResources" type="Create" />
				<add name="Modify" title="Modify" description="ModifyDescription" resourceClassId="SecurityResources" type="Modify" />
				<add name="Delete" title="Delete" description="DeleteDescription" resourceClassId="SecurityResources" type="Delete" />
				<add name="ChangeOwner" title="ChangeOwner" description="ChangeOwnerDescription" resourceClassId="SecurityResources" type="ChangeOwner" />
				<add name="ChangePermissions" title="ChangePermissions" description="ChangePermissionsDescription" resourceClassId="SecurityResources" type="ChangePermissions" />
			</actions>
		</permission>
	</permissions>
	<customPermissionsDisplaySettings>
		<customSet setName="General">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Blogs.Model.Blog, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="Create" showActionInList="False" />
						<customSecurityAction name="Modify" showActionInList="True" title="ModifyThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="View" showActionInList="True" title="ViewThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="Delete" showActionInList="True" title="DeleteThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeOwner" showActionInList="True" title="ChangeOwnerOfThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangePermissions" showActionInList="True" title="ChangePermissionsOfThisItem" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
				<securedObjectType typeName="Telerik.Sitefinity.Events.Model.Event, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="Create" showActionInList="False" />
						<customSecurityAction name="Modify" showActionInList="True" title="ModifyThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="View" showActionInList="True" title="ViewThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="Delete" showActionInList="True" title="DeleteThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeOwner" showActionInList="True" title="ChangeOwnerOfThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangePermissions" showActionInList="True" title="ChangePermissionsOfThisItem" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
				<securedObjectType typeName="Telerik.Sitefinity.GenericContent.Model.ContentItem, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="Create" showActionInList="False" />
						<customSecurityAction name="Modify" showActionInList="True" title="ModifyThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="View" showActionInList="True" title="ViewThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="Delete" showActionInList="True" title="DeleteThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeOwner" showActionInList="True" title="ChangeOwnerOfThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangePermissions" showActionInList="True" title="ChangePermissionsOfThisItem" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
				<securedObjectType typeName="Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="Create" showActionInList="False" />
						<customSecurityAction name="Modify" showActionInList="True" title="ModifyThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="View" showActionInList="True" title="ViewThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="Delete" showActionInList="True" title="DeleteThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeOwner" showActionInList="True" title="ChangeOwnerOfThisItem" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangePermissions" showActionInList="True" title="ChangePermissionsOfThisItem" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Blog">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Blogs.Model.Blog, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="Create" showActionInList="False" />
						<customSecurityAction name="View" showActionInList="True" title="ViewThisBlog" resourceClassId="SecurityResources" />
						<customSecurityAction name="Delete" showActionInList="True" title="DeleteThisBlog" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeOwner" showActionInList="True" title="ChangeThisBlogOwner" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangePermissions" showActionInList="True" title="ChangeThisBlogPermissions" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="BlogPost">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Blogs.Model.Blog, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="ManageBlogPost" showActionInList="True" title="ManageThisBlog" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
				<securedObjectType typeName="Telerik.Sitefinity.Blogs.Model.BlogPost, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="ManageBlogPost" showActionInList="True" title="ManageThisBlogPost" resourceClassId="SecurityResources" />
						<customSecurityAction name="ViewBlogPost" showActionInList="True" title="ViewThisBlogPost" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeBlogPostOwner" showActionInList="True" title="ChangeThisBlogPostOwner" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeBlogPostPermissions" showActionInList="True" title="ChangeThisBlogPostPermissions" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Image">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Libraries.Model.Album, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="ManageImage" showActionInList="True" title="ManageThisAlbum" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
				<securedObjectType typeName="Telerik.Sitefinity.Libraries.Model.Image, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="ViewImage" showActionInList="True" title="ViewThisImage" resourceClassId="SecurityResources" />
						<customSecurityAction name="ManageImage" showActionInList="True" title="ManageImage" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeImageOwner" showActionInList="True" title="ChangeThisImageOwner" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeImagePermissions" showActionInList="True" title="ChangeThisImagePermissions" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Album">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Libraries.Model.Album, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="CreateAlbum" showActionInList="False" />
						<customSecurityAction name="ViewAlbum" showActionInList="True" title="ViewThisAlbum" resourceClassId="SecurityResources" />
						<customSecurityAction name="DeleteAlbum" showActionInList="True" title="DeleteThisAlbum" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeAlbumOwner" showActionInList="True" title="ChangeThisAlbumOwner" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeAlbumPermissions" showActionInList="True" title="ChangeThisAlbumPermissions" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Video">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Libraries.Model.VideoLibrary, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="ManageVideo" showActionInList="True" title="ManageThisVideoLibrary" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
				<securedObjectType typeName="Telerik.Sitefinity.Libraries.Model.Video, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="ViewVideo" showActionInList="True" title="ViewThisVideo" resourceClassId="SecurityResources" />
						<customSecurityAction name="ManageVideo" showActionInList="True" title="ManageVideo" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeVideoOwner" showActionInList="True" title="ChangeThisVideoOwner" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeVideoPermissions" showActionInList="True" title="ChangeThisVideoPermissions" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="VideoLibrary">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Libraries.Model.VideoLibrary, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="CreateVideoLibrary" showActionInList="False" />
						<customSecurityAction name="ViewVideoLibrary" showActionInList="True" title="ViewThisVideoLibrary" resourceClassId="SecurityResources" />
						<customSecurityAction name="DeleteVideoLibrary" showActionInList="True" title="DeleteThisVideoLibrary" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeVideoLibraryOwner" showActionInList="True" title="ChangeThisVideoLibraryOwner" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeVideoLibraryPermissions" showActionInList="True" title="ChangeThisVideoLibraryPermissions" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Document">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Libraries.Model.DocumentLibrary, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="ManageVideo" showActionInList="True" title="ManageThisDocumentLibrary" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
				<securedObjectType typeName="Telerik.Sitefinity.Libraries.Model.Document, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="ViewDocument" showActionInList="True" title="ViewThisDocument" resourceClassId="SecurityResources" />
						<customSecurityAction name="ManageDocument" showActionInList="True" title="ManageDocument" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeDocumentOwner" showActionInList="True" title="ChangeThisDocumentOwner" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeDocumentPermissions" showActionInList="True" title="ChangeThisDocumentPermissions" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="DocumentLibrary">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Libraries.Model.DocumentLibrary, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="CreateDocumentLibrary" showActionInList="False" />
						<customSecurityAction name="ViewDocumentLibrary" showActionInList="True" title="ViewThisDocumentLibrary" resourceClassId="SecurityResources" />
						<customSecurityAction name="DeleteDocumentLibrary" showActionInList="True" title="DeleteThisDocumentLibrary" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeDocumentLibraryOwner" showActionInList="True" title="ChangeThisDocumentLibraryOwner" resourceClassId="SecurityResources" />
						<customSecurityAction name="ChangeDocumentLibraryPermissions" showActionInList="True" title="ChangeThisDocumentLibraryPermissions" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Taxonomies">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Taxonomies.Model.Taxonomy, Telerik.Sitefinity.Model, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563">
					<customSecurityActions>
						<customSecurityAction name="CreateTaxonomy" showActionInList="False" />
						<customSecurityAction name="ModifyTaxonomyAndSubTaxons" showActionInList="True" title="ModifyATaxonomy" resourceClassId="SecurityResources" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
	</customPermissionsDisplaySettings>
	<applicationRoles>
		<role name="Everyone" id="9ab189e2-64c6-4d4a-a800-d015ddb8ac40" description="EveryoneDescription" resourceClassId="SecurityResources" />
		<role name="Anonymous" id="d75872d7-27c1-4ede-b889-b78247a35ecd" description="AnonymousDescription" resourceClassId="SecurityResources" />
		<role name="Authenticated" id="2e68ef5e-a1ce-4091-8582-ad3d28a96752" description="AuthenticatedDescription" resourceClassId="SecurityResources" />
		<role name="Owner" id="635d7ca8-f453-4c6c-b178-1c0bc7c06aa3" description="OwnerDescription" resourceClassId="SecurityResources" />
		<role name="Administrators" id="3ee0a740-bd83-4cf9-ab38-dbf875de3ab0" description="AdministratorsDescription" allowManualUserAssignment="True" resourceClassId="SecurityResources" />
		<role name="BackendUsers" id="e1d4e27c-202f-4c39-9335-47a33970104d" description="BackendUsersRoleDescription" allowManualUserAssignment="True" resourceClassId="SecurityResources" />
		<role name="Authors" id="0d69c657-6ff7-429a-85c5-86d4720fa169" description="AuthorsRoleDescription" allowManualUserAssignment="True" resourceClassId="SecurityResources" />
		<role name="Editors" id="f8fc43e0-1d80-43d7-acf6-df6b019b86cf" description="EditorsRoleDescription" allowManualUserAssignment="True" resourceClassId="SecurityResources" />
		<role name="Designers" id="eca1ee2c-495c-43c4-8077-486dac193ccf" description="DesignersRoleDescription" allowManualUserAssignment="True" resourceClassId="SecurityResources" />
	</applicationRoles>
	<securityProviders>
		<add name="OpenAccessDataProvider" description="A data provider that stores security information using OpenAccess." type="Telerik.Sitefinity.Security.Data.OpenAccessSecurityProvider, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
		<add name="XmlDataProvider" description="A data provider that stores security information in XML files." type="Telerik.Sitefinity.Security.Data.XmlSecurityDataProvider, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
	</securityProviders>
	<roleProviders>
		<add name="Default" description="DefaultDescription" resourceClassId="SecurityResources" type="Telerik.Sitefinity.Security.Data.OpenAccessRoleProvider, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" applicationName="Backend/" />
		<add name="AppRoles" description="AppRolesDescription" resourceClassId="SecurityResources" type="Telerik.Sitefinity.Security.Data.OpenAccessRoleProvider, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" applicationName="App/" />
		<add name="LdapRoles" description="AppRolesDescription" type="Telerik.Sitefinity.Security.Ldap.LdapRoleProvider, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" applicationName="LdapBackend/" enabled="False" />
	</roleProviders>
	<profileProviders>
		<add name="OpenAccessProfileProvider" description="A data provider that stores profile data using OpenAccess" type="Telerik.Sitefinity.Security.Data.OpenAccessProfileProvider, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
	</profileProviders>
	<membershipProviders>
		<add name="Default" description="DefaultDescription" resourceClassId="SecurityResources" type="Telerik.Sitefinity.Security.Data.OpenAccessMembershipProvider, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" applicationName="Backend/" maxInvalidPasswordAttempts="5" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="7" newPasswordLength="8" passwordAttemptWindow="10" passwordFormat="Hashed" passwordStrengthRegularExpression="" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" enablePasswordRetrieval="false" enablePasswordReset="true" recoveryMailAddress="" recoveryMailBody="Your password has been successfully changed.&lt;br /&gt;&lt;br /&gt;User Name: &lt;%\s*UserName\s*%&gt;&lt;br /&gt;Password: &lt;%\s*Password\s*%&gt;" recoveryMailSubject="Password recovery" />
		<add name="LdapUsers" description="Special provider for LDAP users." type="Telerik.Sitefinity.Security.Ldap.LdapMembershipProvider, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" applicationName="LdapBackend/" connection="" enabled="False" />
	</membershipProviders>
	<administrativeRoles />
	<LdapConnections>
		<connections>
			<LdapConnection name="DefaultLdapConnection" serverName="" connectionDomain="" connectionUsername="" connectionPassword="" maxReturnedUsers="200" usersDN="" userFilter="(&amp;(objectClass=user)(!(objectClass=computer)))" maxReturnedRoles="200" rolesDns="" roleFilter="(objectClass=group)" />
		</connections>
		<ldapMapping>
			<typesMapping>
				<type name="RoleMapping">
					<propertiesMapping>
						<mapping propertyName="Name" ldapField="sAMAccountName" />
						<mapping propertyName="Id" ldapField="objectGUID" />
						<mapping propertyName="LastModified" ldapField="whenChanged" />
					</propertiesMapping>
				</type>
				<type name="UserMapping">
					<propertiesMapping>
						<mapping propertyName="Id" ldapField="objectGUID" />
						<mapping propertyName="Comment" ldapField="info" />
						<mapping propertyName="FirstName" ldapField="givenName" />
						<mapping propertyName="UserName" ldapField="sAMAccountName" />
						<mapping propertyName="Email" ldapField="mail" />
						<mapping propertyName="LastName" ldapField="sn" />
						<mapping propertyName="LastActivityDate" ldapField="whenChanged" />
						<mapping propertyName="LastLoginDate" ldapField="lastLogon" />
						<mapping propertyName="CreationDate" ldapField="whenCreated" />
						<mapping propertyName="LastModified" ldapField="whenChanged" />
						<mapping propertyName="memberOf" ldapField="memberOf" />
						<mapping propertyName="IsApproved" ldapField="userAccountControl" />
					</propertiesMapping>
				</type>
			</typesMapping>
		</ldapMapping>
	</LdapConnections>
</securityConfig>