<?xml version="1.0" encoding="utf-8"?>
<systemConfig>
	<cacheDependencyHandlers>
		<add name="GeneralCacheDependency" description="A generic cache dependency handler." type="Telerik.Sitefinity.Data.CacheDependencyHandler, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
		<add name="SecurityCacheDependency" description="A cache dependency handler for permissions." type="Telerik.Sitefinity.Security.SecurityCacheDependencyHandler, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
		<add name="PageCacheDependency" description="A cache dependency handler for pages and templates." type="Telerik.Sitefinity.Modules.Pages.PageCacheDependencyHandler, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
		<add name="ConfigCacheDependency" description="A cache dependency handler for configuration polices." type="Telerik.Sitefinity.Configuration.ConfigCacheDependencyHandler, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
	</cacheDependencyHandlers>
	<systemServices />
	<servicesModules>
		<add name="Search" title="ModuleTitle" description="ModuleDescription" resourceClassId="SearchResources" type="Telerik.Sitefinity.Services.Search.SearchModule, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" startupType="OnApplicationStart" />
	</servicesModules>
	<controlDesigners>
		<add controlType="Telerik.Sitefinity.Modules.GenericContent.Web.UI.ContentBlock, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" controlDesigner="Telerik.Sitefinity.Modules.GenericContent.Web.UI.ContentBlockDesigner, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
	</controlDesigners>
	<applicationModules>
		<add name="News" title="NewsTitle" description="NewsDescription" resourceClassId="NewsResources" type="Telerik.Sitefinity.Modules.News.NewsModule, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" startupType="OnApplicationStart" />
		<add name="Blogs" title="BlogsTitle" description="BlogsDescription" resourceClassId="BlogResources" type="Telerik.Sitefinity.Modules.Blogs.BlogsModule, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" startupType="OnApplicationStart" />
		<add name="Events" title="ModuleTitle" description="ModuleDescription" resourceClassId="EventsResources" type="Telerik.Sitefinity.Modules.Events.EventsModule, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" startupType="OnApplicationStart" />
		<add name="Classifications" title="ModuleTitle" description="ModuleDescription" resourceClassId="TaxonomyResources" type="Telerik.Sitefinity.Taxonomies.TaxonomyModule, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" startupType="OnApplicationStart" />
		<add name="Libraries" title="ModuleTitle" description="ModuleDescription" resourceClassId="LibrariesResources" type="Telerik.Sitefinity.Modules.Libraries.LibrariesModule, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" startupType="OnApplicationStart" />
		<add name="Analytics" title="ModuleTitle" description="AnalyticsDescription" resourceClassId="AnalyticsResources" type="Telerik.Sitefinity.Analytics.Server.Infrastructure.AnalyticsModule, Telerik.Sitefinity.Analytics.Server.Infrastructure" startupType="OnApplicationStart" />
		<add name="Forms" title="FormsTitle" description="FormsDescription" resourceClassId="FormsResources" type="Telerik.Sitefinity.Modules.Forms.FormsModule, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" />
		<add name="Publishing" title="ModuleTitle" description="ModuleDescription" resourceClassId="PublishingMessages" type="Telerik.Sitefinity.Publishing.PublishingModule, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" startupType="OnApplicationStart" />
		<add name="GenericContent" title="ModuleTitle" description="ModuleDescription" resourceClassId="ContentResources" type="Telerik.Sitefinity.Modules.GenericContent.ContentModule, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" startupType="OnApplicationStart" />
	</applicationModules>
	<smtpSettings />
	<licensing />
	<uiTimeZoneSettings />
</systemConfig>