<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig>
	<toolboxes>
		<toolbox name="PageControls" title="PageControlsToolboxTitle" description="PageControlsToolboxDescription" resourceClassId="PageResources">
			<sections>
				<add name="ContentToolboxSection" title="ContentToolboxSectionTitle" description="ContentToolboxSectionDescription" resourceClassId="PageResources">
					<tools>
						<add type="Telerik.Sitefinity.Modules.GenericContent.Web.UI.ContentBlock, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="ContentBlock" title="ContentBlockTitle" description="ContentBlockDescription" resourceClassId="PageResources" cssClass="sfContentBlockIcn" />
						<add type="Telerik.Sitefinity.Web.UI.PublicControls.ImageControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="ImageControl" title="ImageControlTitle" description="ImageControlDescription" resourceClassId="PageResources" cssClass="sfImageViewIcn" />
						<add type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Images.ImagesView, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="ImagesView" title="ImagesViewTitle" description="ImagesViewDescription" resourceClassId="LibrariesResources" cssClass="sfImageLibraryViewIcn" moduleName="Libraries" />
					</tools>
				</add>
				<add name="NavigationControlsSection" title="NavigationControlsSectionTitle" description="NavigationControlsSectionDescription" resourceClassId="PageResources">
					<tools>
						<add type="Telerik.Sitefinity.Web.UI.NavigationControls.NavigationControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Navigation" title="Navigation" description="Navigation" cssClass="sfNavigationIcn" />
						<add type="Telerik.Sitefinity.Web.UI.PublicControls.ArchiveControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="ArchiveControl" title="ArchiveControlTitle" description="ArchiveControlDescription" resourceClassId="PageResources" cssClass="sfArchiveIcn" />
					</tools>
				</add>
				<add name="RadControls" title="RadControlsTitle" description="RadControlsDescription" resourceClassId="PageResources">
					<tools>
						<add type="Telerik.Web.UI.RadCalendar, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadCalendar" title="RadCalendarTitle" description="RadCalendarDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadDateTimePicker, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadDateTimePicker" title="RadDateTimePickerTitle" description="RadDateTimePickerDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadCaptcha, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadCaptcha" title="RadCaptchaTitle" description="RadCaptchaDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadColorPicker, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadColorPicker" title="RadColorPickerTitle" description="RadColorPickerDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadComboBox, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadComboBox" title="RadComboBoxTitle" description="RadComboBoxDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadEditor, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadEditor" title="RadEditorTitle" description="RadEditorDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadGrid, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadGrid" title="RadGridTitle" description="RadGridDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadMenu, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadMenu" title="RadMenuTitle" description="RadMenuDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadPanelBar, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadPanelBar" title="RadPanelBarTitle" description="RadPanelBarDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadRotator, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadRotator" title="RadRotatorTitle" description="RadRotatorDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadSiteMap, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadSiteMap" title="RadSiteMapTitle" description="RadSiteMapDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadSkinManager, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadSkinManager" title="RadSkinManagerTitle" description="RadSkinManagerDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadSlider, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadSlider" title="RadSliderTitle" description="RadSliderDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadSpell, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadSpell" title="RadSpellTitle" description="RadSpellDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadSplitter, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadSplitter" title="RadSplitterTitle" description="RadSplitterDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadStyleSheetManager, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadStyleSheetManager" title="RadStyleSheetManagerTitle" description="RadStyleSheetManagerDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadTabStrip, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadTabStrip" title="RadTabStripTitle" description="RadTabStripDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadToolBar, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadToolBar" title="RadToolBarTitle" description="RadToolBarDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadToolTip, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadToolTip" title="RadToolTipTitle" description="RadToolTipDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadTreeView, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadTreeView" title="RadTreeViewTitle" description="RadTreeViewDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadUpload, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadUpload" title="RadUploadTitle" description="RadUploadDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadWindow, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadWindow" title="RadWindowTitle" description="RadWindowDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadWindowManager, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadWindowManager" title="RadWindowManagerTitle" description="RadWindowManagerDescription" resourceClassId="PageResources" />
						<add type="Telerik.Web.UI.RadXmlHttpPanel, Telerik.Web.UI, Version=2010.2.826.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" name="RadXmlHttpPanel" title="RadXmlHttpPanelTitle" description="RadXmlHttpPanelDescription" resourceClassId="PageResources" />
					</tools>
				</add>
				<add name="Data" title="DataToolboxSectionTitle" description="DataToolboxSectionDescription" resourceClassId="PageResources">
					<tools>
						<add type="System.Web.UI.WebControls.XmlDataSource, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="XmlDataSource" title="XmlDataSourceTitle" description="XmlDataSourceDescription" resourceClassId="PageResources" />
						<add type="System.Web.UI.WebControls.SiteMapDataSource, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="SiteMapDataSource" title="SiteMapDataSourceTitle" description="SiteMapDataSourceDescription" resourceClassId="PageResources" />
						<add type="Telerik.OpenAccess.OpenAccessDataSource, Telerik.OpenAccess.Web, Version=2010.2.812.2, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" name="OpenAccessDataSource" title="OpenAccessDataSourceTitle" description="OpenAccessDataSourceDescription" resourceClassId="PageResources" />
					</tools>
				</add>
				<add name="ScriptsAndStylesControlsSection" title="ScriptsAndStylesControlsSectionTitle" description="ScriptsAndStylesControlsSectionDescription" resourceClassId="PageResources">
					<tools>
						<add type="Telerik.Sitefinity.Web.UI.PublicControls.CssEmbedControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="CssEmbedControl" title="CssEmbedControlTitle" description="CssEmbedControlDescription" resourceClassId="PageResources" cssClass="sfLinkedFileViewIcn" />
						<add type="Telerik.Sitefinity.Web.UI.PublicControls.JavaScriptEmbedControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="JavaScriptEmbedControl" title="JavaScriptEmbedControlTitle" description="JavaScriptEmbedControlDescription" resourceClassId="PageResources" cssClass="sfLinkedFileViewIcn" />
						<add type="Telerik.Sitefinity.Web.UI.PublicControls.GoogleAnalyticsEmbedControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="GoogleAnalyticsEmbedControl" title="GoogleAnalyticsEmbedControlTitle" description="GoogleAnalyticsEmbedControlDescription" resourceClassId="PageResources" cssClass="sfLinkedFileViewIcn" />
					</tools>
				</add>
				<add name="Classifications" title="Classifications">
					<tools>
						<add type="Telerik.Sitefinity.Web.UI.PublicControls.TaxonomyControl" name="Categories" title="Categories" cssClass="sfHierarchicalTaxonIcn" TaxonomyId="e5cd6d69-1543-427b-ad62-688a99f5e7d4" FieldName="Category" />
						<add type="Telerik.Sitefinity.Web.UI.PublicControls.TaxonomyControl" name="Tags" title="Tags" cssClass="sfFlatTaxonIcn" TaxonomyId="cb0f3a19-a211-48a7-88ec-77495c0f5374" FieldName="Tags" />
					</tools>
				</add>
			</sections>
		</toolbox>
		<toolbox name="PageLayouts" title="PageLayoutToolboxTitle" description="PageLayoutToolboxDescription" resourceClassId="PageResources">
			<sections>
				<add name="TwoColumns" title="TwoColumnsSectionTitle" description="TwoColumnsSectionDescription" resourceClassId="PageResources">
					<tools>
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Col1" title="Col1Title" description="Col1Description" resourceClassId="PageResources" cssClass="sfL100" layoutTemplate="Telerik.Sitefinity.Resources.Templates.Layouts.Column1Template.ascx" />
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Col2T1" title="Col2T1Title" description="Col2T1Description" resourceClassId="PageResources" cssClass="sfL25_75" layoutTemplate="Telerik.Sitefinity.Resources.Templates.Layouts.Column2Template1.ascx" />
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Col2T2" title="Col2T2Title" description="Col2T2Description" resourceClassId="PageResources" cssClass="sfL33_67" layoutTemplate="Telerik.Sitefinity.Resources.Templates.Layouts.Column2Template2.ascx" />
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Col2T3" title="Col2T3Title" description="Col2T3Description" resourceClassId="PageResources" cssClass="sfL50_50" layoutTemplate="Telerik.Sitefinity.Resources.Templates.Layouts.Column2Template3.ascx" />
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Col2T4" title="Col2T4Title" description="Col2T4Description" resourceClassId="PageResources" cssClass="sfL67_33" layoutTemplate="Telerik.Sitefinity.Resources.Templates.Layouts.Column2Template4.ascx" />
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Col2T5" title="Col2T5Title" description="Col2T5Description" resourceClassId="PageResources" cssClass="sfL75_25" layoutTemplate="Telerik.Sitefinity.Resources.Templates.Layouts.Column2Template5.ascx" />
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Col3T1" title="Col3T1Title" description="Col3T1Description" resourceClassId="PageResources" cssClass="sfL33_34_33" layoutTemplate="Telerik.Sitefinity.Resources.Templates.Layouts.Column3Template1.ascx" />
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Col3T2" title="Col3T2Title" description="Col3T2Description" resourceClassId="PageResources" cssClass="sfL25_50_25" layoutTemplate="Telerik.Sitefinity.Resources.Templates.Layouts.Column3Template2.ascx" />
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Col4T1" title="Col4T1Title" description="Col4T1Description" resourceClassId="PageResources" cssClass="sfL25_25_25_25" layoutTemplate="Telerik.Sitefinity.Resources.Templates.Layouts.Column4Template1.ascx" />
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Col5T1" title="Col5T1Title" description="Col5T1Description" resourceClassId="PageResources" cssClass="sfL20_20_20_20_20" layoutTemplate="Telerik.Sitefinity.Resources.Templates.Layouts.Column5Template1.ascx" />
					</tools>
				</add>
			</sections>
		</toolbox>
		<toolbox name="FormControls" title="FormControlsTitle" description="FormControlsDescription" resourceClassId="FormsResources">
			<sections>
				<add name="Common" title="CommonSectionTitle" description="CommonSectionDescription" resourceClassId="FormsResources">
					<tools>
						<add type="Telerik.Sitefinity.Modules.Forms.Web.UI.Fields.FormTextBox, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="TextBox" title="TextBoxTitle" description="TextBoxDescription" resourceClassId="FormsResources" cssClass="sfTextboxIcn" />
						<add type="Telerik.Sitefinity.Modules.Forms.Web.UI.Fields.FormMultipleChoice, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="MultipleChoice" title="MultipleChoiceTitle" description="MultipleChoiceDescription" resourceClassId="FormsResources" cssClass="sfMultipleChoiceIcn" />
						<add type="Telerik.Sitefinity.Modules.Forms.Web.UI.Fields.FormCheckboxes, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="Checkboxes" title="CheckboxesTitle" description="CheckboxesDescription" resourceClassId="FormsResources" cssClass="sfCheckboxesIcn" />
						<add type="Telerik.Sitefinity.Modules.Forms.Web.UI.Fields.FormParagraphTextBox, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="ParagraphTextBox" title="ParagraphTextBoxTitle" description="ParagraphTextBoxDescription" resourceClassId="FormsResources" cssClass="sfParagraphboxIcn" />
						<add type="Telerik.Sitefinity.Modules.Forms.Web.UI.Fields.FormDropDownList, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="DropDownList" title="DropDownListTitle" description="DropDownListDescription" resourceClassId="FormsResources" cssClass="sfDropdownIcn" />
						<add type="Telerik.Sitefinity.Modules.Forms.Web.UI.Fields.FormSectionHeader, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="SectionHeader" title="SectionHeaderTitle" description="SectionHeaderDescription" resourceClassId="FormsResources" cssClass="sfSectionHeaderIcn" />
						<add type="Telerik.Sitefinity.Modules.Forms.Web.UI.Fields.FormInstructionalText, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="InstructionalText" title="InstructionalTextTitle" description="InstructionalTextDescription" resourceClassId="FormsResources" cssClass="sfInstructionIcn" />
						<add type="Telerik.Sitefinity.Modules.Forms.Web.UI.Fields.FormSubmitButton, Telerik.Sitefinity, Version=4.0.685.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="SubmitButton" title="SubmitButtonTitle" description="SubmitButtonDescription" resourceClassId="FormsResources" cssClass="sfSubmitBtnIcn" />
					</tools>
				</add>
			</sections>
		</toolbox>
	</toolboxes>
</toolboxesConfig>